@(endpoints: Seq[String])

@main("Where Art Thou") {


    <ul>
    @endpoints.map {e => <li> @e </li> }
	</ul>
	<div>websocket examples
	<p>join room
	<pre>{"sessionId": "ROOM101", "userId": "yoyo-man"}</pre> 
	<p>send position (note that all fields except lat,lon,timestamp are optional )</p>
	<pre>{"sessionId": "ROOM101", "userId": "yoyo-man", "loc": {"lat" 12.3, "lon": 123.4, "timestamp": 123456789, "speed": 3, "altitude": 4, "accuracy": 44, "altitudeAccuracy": 0, "heading": 120}}</pre>
	</div>
	
}
